#auth {
    h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #632ac0;
    }

    .modal-close {
        text-align: end;
    }
}