<div id="sidebar" class="card" [hidden]="isTutor">
    <ul class="list-group list-group-light list-group-small">
        <li [hidden]="isTutor" class="list-group-item px-3">
            <a [routerLink]="['/painel']">
                <i class="fas fa-columns"></i>
                Painel
            </a>
        </li>
        <li
          *ngIf="validRole('tag', 'read')"
          [hidden]="isTutor"
          class="list-group-item px-3"
        >
            <a [routerLink]="['/painel/pingentes']" [queryParams]="{ status: 'todos' }">
                <i class="fas fa-tags"></i>
                Pingentes
            </a>
        </li>
        <li [hidden]="isTutor" class="list-group-item px-3">
            <a [routerLink]="['/painel/usuarios']" [queryParams]="{ tipo: 'cliente' }">
                <i class="fas fa-users"></i>
                Clientes
            </a>
        </li>
        <li class="list-group-item px-3">
            <a [routerLink]="['/painel/pets']">
                <i class="fas fa-paw"></i>
                Pets
            </a>
        </li>
        <li
          *ngIf="validRole('admin', 'read')"
          [hidden]="isTutor"
          class="list-group-item px-3"
        >
            <a [routerLink]="['/painel/usuarios']" [queryParams]="{ tipo: 'administrador' }">
                <i class="fas fa-users-cog"></i>
                Administradores
            </a>
        </li>
    </ul>
</div>
