<section id="change-password">

    <app-alert
        [hidden]="!isAlert"
        [status]="status"
        [message]="message"
    ></app-alert>
    <app-loading
      [hidden]="!isLoading"
    ></app-loading>

    <h4 class="mb-4">
      Alterar Senha
    </h4>

    <form [hidden]="!isForm" [formGroup]="changePasswordForm" (keyup.enter)="onSubmit()">
      <mdb-form-control class="mb-3">
        <input mdbInput formControlName="token" type="text" id="token" class="form-control"/>
        <label mdbLabel class="form-label" for="token">Código</label>
      </mdb-form-control>

      <mdb-form-control class="mb-3">
        <input mdbInput formControlName="password" type="password" id="password" class="form-control"/>
        <label mdbLabel class="form-label" for="password">Senha</label>
      </mdb-form-control>

      <mdb-form-control class="mb-3">
        <input mdbInput formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control"/>
        <label mdbLabel class="form-label" for="confirmPassword">Confirmar Senha</label>
      </mdb-form-control>

      <button
        type="button"
        class="btn btn-secondary"
        [disabled]="changePasswordForm.invalid"
        (click)="onSubmit()"
      >alterar</button>
    </form>

  </section>
