#profile-edit {
    h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        color: #08c49f;
        font-size: 16px;
        color: #08c49f;
    }

    h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #632ac0;
    }

    .modal-tittle {
        color: #6322c0;
    }

    .modal-header {
        border-bottom: 0;
    }
}