<section id="tag-list">
    <div class="row">
        <div class="col">
          <mdb-form-control>
            <input mdbInput type="text" id="search" class="form-control" [(ngModel)]="filter"/>
            <label mdbLabel class="form-label" for="search">Filtrar</label>
          </mdb-form-control>
          <div class="table-responsive">
            <table class="table align-middle mb-3 bg-white mt-2">
                <thead class="bg-light">
                    <tr>
                        <th class="fw-bold" (click)="sort('lote')">
                          Lote
                          <span *ngIf="key =='lote'">{{ reverse ? '▲' : '▼' }}</span>
                        </th>
                        <th class="fw-bold" (click)="sort('codigo')">
                          Código
                          <span *ngIf="key =='codigo'">{{ reverse ? '▲' : '▼' }}</span>
                        </th>
                        <th class="fw-bold" (click)="sort('codigo')">
                          Código de Verificação
                          <span *ngIf="key =='codigo'">{{ reverse ? '▲' : '▼' }}</span>
                        </th>
                        <th class="fw-bold" (click)="sort('situacao')">
                          Situação
                          <span *ngIf="key =='situacao'">{{ reverse ? '▲' : '▼' }}</span>
                        </th>
                        <th class="fw-bold" (click)="sort('acoes')">
                          Ações
                          <span *ngIf="key =='acoes'">{{reverse ? '▲' : '▼'}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="fw-normal">
                    <tr *ngFor="let tag of tags | filter: filter | paginate : { itemsPerPage: 5, currentPage: currentPage } | orderBy: key : reverse; let i = index">
                        <td>
                            {{ tag.barcode }}
                        </td>
                        <td>
                            {{ tag.code }}
                        </td>
                        <td>
                            {{ tag.secret }}
                        </td>
                        <td>
                            <span
                                [class.badge-success]="tag.status == 'active'"
                                [class.badge-warning]="tag.status == 'waiting'"
                                class="badge rounded-pill d-inline"
                            >{{ viewStatus(tag.status) }}</span>
                        </td>
                        <td>
                            <button
                                type="button"
                                class="btn btn-link btn-sm btn-rounded"
                                (click)="openModalDetail(tag)"
                            >detalhes</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls
              (pageChange)="currentPage = $event"
              previousLabel="Anterior"
              nextLabel="Próximo"
            ></pagination-controls>
          </div>
        </div>
    </div>
</section>
