#tag-create {
    h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        color: #08c49f;
    }

    .modal-tittle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        color: #6322c0;
    }

    .modal-header {
        border-bottom: 0;
    }
}