#user-create {
  h5 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      color: #08c49f;
      font-size: 16px;
  }

  .form-check {
    display: flex;
    justify-content: flex-end;
  }

  .modal-tittle {
      color: #6322c0;
  }

  .modal-header {
      border-bottom: 0;
  }
}
