<footer id="footer" class="text-center text-lg-start text-muted mt-5">
  <div class="container text-center text-md-start">
    <div class="row">
      <div class="col-12 col-md-2">
        <a [routerLink]="['/inicio']">
          <img src="../../../../assets/logo_white.png">
        </a>
      </div>

      <div class="col-12 col-md-6 offset-md-1 institutional-content">
        <div class="mt-2">
          <a [routerLink]="['/politica-de-privacidade']" class="text-light">Política de Privacidade</a>
          <a [routerLink]="['/termos-de-uso']" class="text-light">Termos de Uso</a>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <!-- Facebook -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="https://facebook.com"
          target="_blank"
          role="button"
        ><i class="fab fa-facebook-f"></i></a>

        <!-- YouTube -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="https://youtube.com"
          target="_blank"
          role="button"
        ><i class="fab fa-youtube"></i></a>

        <!-- Instagram -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="https://instagram.com"
          target="_blank"
          role="button"
        ><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
