<section id="banner">
  <div class="container mt-5 mb-4">
    <div class="row">
      <div class="col-12 col-md-5">
        <h1>
          Ajude seu pet voltar pra casa!
        </h1>
        <p>
          O <strong>pingente</strong> da <strong>Petter’s</strong> é uma solução eficaz onde você tem o perfil do seu pet para consulta com seus contatos.
        </p>
      </div>
      <div id="image" class="col-5 offset-md-1">
        <img src="../../../assets/shadown.png" id="banner-shadown">
        <img src="../../../assets/pets.png" id="banner-pets">
      </div>
    </div>
  </div>
</section>

<section id="information" class="container text-center mt-5 mb-5">
  <div class="row mb-4">
    <h3>
      Como funciona o <span>pingente</span>?
    </h3>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <img src="../../../assets/register_pet.png">
      <h4 class="mt-3">
        Cadastre seu pet
      </h4>
      <p>
        Através do nosso aplicativo, você cria um perfil para seu pet com dados de contato e muito mais.
      </p>
    </div>

    <div class="col-lg-4">
      <img src="../../../assets/scan_pet.png">
      <h4 class="mt-3">
        E se meu pet sumir ou fugir?
      </h4>
      <p>
        Qualquer pessoa pode apontar a câmera do celular e escanear o pingente, acessando o perfil do seu pet online.
      </p>
    </div>

    <div class="col-lg-4">
      <img src="../../../assets/home_pet.png">
      <h4 class="mt-3">
        Ajudamos a volta para casa!
      </h4>
      <p>
        Você receberá uma notificação com a localização aproximada quando alguém escanear o pingente.
      </p>
    </div>
  </div>
</section>
