<section id="recover-password">

  <app-alert
      [hidden]="!isAlert"
      [status]="status"
      [message]="message"
  ></app-alert>
  <app-loading
    [hidden]="!isLoading"
  ></app-loading>

  <div [hidden]="!isRecoverPassword">

    <h4 class="mb-4">
      Recuperar Senha
    </h4>

    <form [formGroup]="recoverPasswordForm" (keyup.enter)="onSubmit()">
      <mdb-form-control class="mb-3">
        <input mdbInput formControlName="email" type="email" id="email" class="form-control"/>
        <label mdbLabel class="form-label" for="email">E-mail</label>
      </mdb-form-control>

      <button
        type="button"
        class="btn btn-secondary"
        [disabled]="recoverPasswordForm.invalid"
        (click)="onSubmit()"
      >recuperar</button>

      <div class="row mt-5">
        <p>
            Ao em vez disso faça <a href="javascript:void(0);" (click)="login()">login</a>.
        </p>
      </div>
    </form>
  </div>

  <app-change-password
    [hidden]="!isChangePassword"
  ></app-change-password>

  </section>
