.alert {
    i {
        margin-right: 5px;
    }

    a {
      color: #632ac0;
      font-weight: 600;
      text-decoration: underline;
    }

    a:hover,
    a:focus {
      color: #8078b3;
    }
}
