#scanned-pet {
  .modal-header {
    border-bottom: 0;

    .modal-tittle {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: #632ac0;
    }

    .modal-close {
        text-align: end;
    }
  }

}
